nav {
    width: 20vw;
    height: 100%;
    background-color: #191B34;
    color: white;
}

nav ul {
    list-style-type: none;
}

.movieIcon {
    width: 100px;
    height: 100px;
    margin: 0 50px;
}